doctype html
html(lang='fr-CA')
  head
    meta(charset='utf-8')
    title Coder pour le web
    meta(name='description', content='Coder pour le web')
    meta(name='author', content='Jonathan Dupré')
    link(rel='stylesheet', href='style.css')
  body
    block body

    script(src='bundle.js')
